name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Run prettier
        run: bunx prettier@v3 -w .
      - name: Commit if changed
        if: github.event_name == 'pull_request'
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
            git add .
            git commit -m "chore: format code with prettier" -m 'skip ci'
            git push origin "$(git branch --show-current)"
          else
            echo "No changes to commit"
          fi

  checks:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
      - name: Build project
        run: go build -v ./...
